---
layout: default
---

<div class="container">
  <h1 class="mt-4 mb-3">History</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">History</li>
  </ol>
  <h2>Past Crews</h2>
  <div class="row">
    {% for crew in site.data.crews %}
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        {% if crew.image %}
        <img class="card-img-top crew-pic" src="{{ crew.image }}">
        {% endif %}
        <h2 class="card-title text-center" style="margin-top: 10px">Crew of {{ crew.years }}</h5>
        <div class="card-body">
          <ul>
            {% for pair in crew.crew %}
            <li>{{ pair[0] }}: {{ pair[1] }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
