<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content={{ site.description }}>
    <meta name="author" content={{ site.author }}>

    <title>{{ site.title }}</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/modern-business.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">{{ site.title }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">Meet the crew!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Get involved!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="faq.html">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

	{{ content }}

    <footer class="py-5 bg-dark">
      <div class="container">
		<p class="m-0 text-center text-white">
		  This site is released under the terms of
		  the <a href="https://raw.githubusercontent.com/oxfordstartreksociety/oxfordstartreksociety.github.io/master/LICENSE">MIT license</a>.
		</p>
		<p class="m-0 text-center text-white">
		  The Oxford Star Trek Society is not endorsed, sponsored, or
		  affiliated with CBS Studios Inc. or the "Star Trek"
		  franchise.  The Star Trek trademarks, logos, and related
		  names are owned by CBS Studios Inc., and are used under fair
		  use guidelines. The Oxford Star Trek Society is not
		  endorsed, sponsored or affiliated with the University of
		  Oxford.
		</p>
	  </div>
	</footer>

	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
